In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Series

In [135]:
np.random.seed(42)
arr_int1 = np.random.randint(100, 10000, 100)
arr_int1.shape

(100,)

In [136]:
sr = pd.Series(arr_int1)
# sr

Seriesとndarry

In [137]:
type(sr)

pandas.core.series.Series

In [138]:
sr.ndim

1

In [139]:
sr.shape

(100,)

In [140]:
sr.max()

9792

Seriesに名前を付ける

In [141]:
sr.name = "Price"

In [142]:
sr_price = pd.Series(arr_int1, name="Price")
sr_price

0     7370
1      960
2     5490
3     5291
4     5834
      ...
95     491
96    5992
97    3661
98    6284
99    3199
Name: Price, Length: 100, dtype: int32

10-100の整数データ(size=100)からSeriesを作成

In [143]:
arr_int2 = np.random.randint(10, 100, 100)
sr_quantity = pd.Series(arr_int2, name="Quantity")

0-10の小数データ(100, 2)からDFを作成

In [144]:
arr_fl = np.random.rand(100, 2) * 10
# print(arr_fl)

In [145]:
df = pd.DataFrame(arr_fl)
df

           0         1
0   2.420553  6.721355
1   7.616196  2.376375
2   7.282163  3.677831
3   6.323058  6.335297
4   5.357747  0.902898
..       ...       ...
95  6.158501  6.350937
96  0.453040  3.746126
97  6.258599  5.031363
98  8.564898  6.586936
99  1.629344  0.705687

[100 rows x 2 columns]

In [146]:
df_wh = pd.DataFrame(arr_fl, columns=["Width", "Height"])
df_wh

       Width    Height
0   2.420553  6.721355
1   7.616196  2.376375
2   7.282163  3.677831
3   6.323058  6.335297
4   5.357747  0.902898
..       ...       ...
95  6.158501  6.350937
96  0.453040  3.746126
97  6.258599  5.031363
98  8.564898  6.586936
99  1.629344  0.705687

[100 rows x 2 columns]

40-60の範囲の一様分布の少数データ(100, 1)からDFを作成

In [147]:
arr_uni = np.random.uniform(40, 60, 100)
df_quality = pd.DataFrame(arr_uni, columns=["Quality"])
df_quality

      Quality
0   52.848386
1   40.530226
2   51.715512
3   58.804605
4   51.509484
..        ...
95  55.542938
96  51.168085
97  48.484440
98  58.127088
99  42.223950

[100 rows x 1 columns]

NormDist(mean=0, std=1)に従う小数データ(100, 1)からDFを作成

In [148]:
arr_norm = np.random.normal(loc=0, scale=1, size=(100, 1))
df_difference = pd.DataFrame(arr_norm, columns=["Difference"])
df_difference

    Difference
0    -0.302324
1    -0.004563
2    -0.682343
3    -0.048195
4     1.271138
..         ...
95   -0.075304
96   -1.101252
97    0.487673
98    0.747368
99   -0.290692

[100 rows x 1 columns]

['red', 'green', 'blue'](100, 1), ['circle', 'square', 'triangle'](100, 1), ndarryを結合しDataFrameを作成

In [149]:
colors = ['red', 'green', 'blue']
shapes = ['circle', 'square', 'triangle']

arr_colors = np.random.choice(colors, size=(100, 1))
arr_shapes = np.random.choice(shapes, size=(100, 1))

arr_cs = np.concatenate([arr_colors, arr_shapes], axis=1)
arr_cs_hstack = np.hstack([arr_colors, arr_shapes])
arr_cs_vstack = np.vstack([arr_colors, arr_shapes])

In [150]:
df_cs = pd.DataFrame(arr_cs, columns=["Colors", "Shape"])
df_cs

   Colors     Shape
0    blue    circle
1    blue    circle
2     red    square
3   green    square
4     red    square
..    ...       ...
95  green    square
96   blue    square
97    red    circle
98   blue  triangle
99  green    circle

[100 rows x 2 columns]

datetime 1977/7/5から1日刻み(100, 1)からDatetimeIndex, Seriesを作成

In [151]:
dates = pd.date_range('1997/7/5', periods=100, freq="D")
sr_date = pd.Series(dates, name="Date")
sr_date

0    1997-07-05
1    1997-07-06
2    1997-07-07
3    1997-07-08
4    1997-07-09
        ...
95   1997-10-08
96   1997-10-09
97   1997-10-10
98   1997-10-11
99   1997-10-12
Name: Date, Length: 100, dtype: datetime64[ns]

Series, DataFrameを結合

In [152]:
df = pd.concat([sr_date, sr_price, sr_quantity, df_wh, df_quality, df_difference], axis=1)

In [153]:
df.sample(3)

         Date  Price  Quantity     Width    Height    Quality  Difference
49 1997-08-23   9770        15  3.169220  1.694927  46.400992   -0.055485
65 1997-09-08   1095        81  0.359423  4.655980  55.831581    1.551263
56 1997-08-30   3173        84  7.024841  3.594912  59.001239   -1.368590

# 変換

Series, DataFrameをndarryに変換

In [154]:
df.Price.values

array([7370,  960, 5490, 5291, 5834, 6365,  566, 4526, 5678, 8422, 1785,
        869, 7049, 2533, 5411, 5151, 6520, 1284, 4655, 3485, 6496, 8766,
       9374, 2658, 7949, 2147, 2847, 9267,  289, 2834, 3105, 4758, 1999,
       7834, 1367, 1628, 3656, 3990, 8938, 5493, 8892, 8533, 7613, 2712,
       7141, 9655, 6335, 5586, 7199, 9770,  875, 8326, 3252, 1685, 4043,
       7655, 3173, 1121, 3943, 8089, 9792, 6973, 5775,  261, 4397, 1095,
       7729, 9567, 1116, 7969, 6539, 7992, 6963, 8016, 8629,  978, 9368,
       4987, 4959, 6431, 8671, 8784, 7308, 5376, 2162,  164, 8106, 2668,
       5563, 2127, 2795, 9787, 5358, 5718, 6836,  491, 5992, 3661, 6284,
       3199])

Series, DataFrameをndarryに変換

In [155]:
#列ごとに取り出す
df["Price"].values

array([7370,  960, 5490, 5291, 5834, 6365,  566, 4526, 5678, 8422, 1785,
        869, 7049, 2533, 5411, 5151, 6520, 1284, 4655, 3485, 6496, 8766,
       9374, 2658, 7949, 2147, 2847, 9267,  289, 2834, 3105, 4758, 1999,
       7834, 1367, 1628, 3656, 3990, 8938, 5493, 8892, 8533, 7613, 2712,
       7141, 9655, 6335, 5586, 7199, 9770,  875, 8326, 3252, 1685, 4043,
       7655, 3173, 1121, 3943, 8089, 9792, 6973, 5775,  261, 4397, 1095,
       7729, 9567, 1116, 7969, 6539, 7992, 6963, 8016, 8629,  978, 9368,
       4987, 4959, 6431, 8671, 8784, 7308, 5376, 2162,  164, 8106, 2668,
       5563, 2127, 2795, 9787, 5358, 5718, 6836,  491, 5992, 3661, 6284,
       3199])

In [156]:
#行ごとに取り出す
df.values[:2]

array([[Timestamp('1997-07-05 00:00:00'), 7370, 16, 2.4205527151150044,
        6.721355474058786, 52.84838556412631, -0.3023242420763079],
       [Timestamp('1997-07-06 00:00:00'), 960, 82, 7.616196153287175,
        2.3763754399239967, 40.53022621083244, -0.004562828990296256]],
      dtype=object)

Series, DataFrameをlistに変換

In [157]:
#列をリストに変換
df.Price.tolist()[:5]

[7370, 960, 5490, 5291, 5834]

In [158]:
df.values.tolist()[:2]

[[Timestamp('1997-07-05 00:00:00'),
  7370,
  16,
  2.4205527151150044,
  6.721355474058786,
  52.84838556412631,
  -0.3023242420763079],
 [Timestamp('1997-07-06 00:00:00'),
  960,
  82,
  7.616196153287175,
  2.3763754399239967,
  40.53022621083244,
  -0.004562828990296256]]

Series, DataFrameをdictionaryに変換

In [159]:
df.Price.to_dict()

{0: 7370,
 1: 960,
 2: 5490,
 3: 5291,
 4: 5834,
 5: 6365,
 6: 566,
 7: 4526,
 8: 5678,
 9: 8422,
 10: 1785,
 11: 869,
 12: 7049,
 13: 2533,
 14: 5411,
 15: 5151,
 16: 6520,
 17: 1284,
 18: 4655,
 19: 3485,
 20: 6496,
 21: 8766,
 22: 9374,
 23: 2658,
 24: 7949,
 25: 2147,
 26: 2847,
 27: 9267,
 28: 289,
 29: 2834,
 30: 3105,
 31: 4758,
 32: 1999,
 33: 7834,
 34: 1367,
 35: 1628,
 36: 3656,
 37: 3990,
 38: 8938,
 39: 5493,
 40: 8892,
 41: 8533,
 42: 7613,
 43: 2712,
 44: 7141,
 45: 9655,
 46: 6335,
 47: 5586,
 48: 7199,
 49: 9770,
 50: 875,
 51: 8326,
 52: 3252,
 53: 1685,
 54: 4043,
 55: 7655,
 56: 3173,
 57: 1121,
 58: 3943,
 59: 8089,
 60: 9792,
 61: 6973,
 62: 5775,
 63: 261,
 64: 4397,
 65: 1095,
 66: 7729,
 67: 9567,
 68: 1116,
 69: 7969,
 70: 6539,
 71: 7992,
 72: 6963,
 73: 8016,
 74: 8629,
 75: 978,
 76: 9368,
 77: 4987,
 78: 4959,
 79: 6431,
 80: 8671,
 81: 8784,
 82: 7308,
 83: 5376,
 84: 2162,
 85: 164,
 86: 8106,
 87: 2668,
 88: 5563,
 89: 2127,
 90: 2795,
 91: 9787,
 92: 5358,
 93: 5718,
 94: 6836,
 95: 491,
 96: 5992,
 97: 3661,
 98: 6284,
 99: 3199}

In [160]:
df.to_dict()

{'Date': {0: Timestamp('1997-07-05 00:00:00'),
  1: Timestamp('1997-07-06 00:00:00'),
  2: Timestamp('1997-07-07 00:00:00'),
  3: Timestamp('1997-07-08 00:00:00'),
  4: Timestamp('1997-07-09 00:00:00'),
  5: Timestamp('1997-07-10 00:00:00'),
  6: Timestamp('1997-07-11 00:00:00'),
  7: Timestamp('1997-07-12 00:00:00'),
  8: Timestamp('1997-07-13 00:00:00'),
  9: Timestamp('1997-07-14 00:00:00'),
  10: Timestamp('1997-07-15 00:00:00'),
  11: Timestamp('1997-07-16 00:00:00'),
  12: Timestamp('1997-07-17 00:00:00'),
  13: Timestamp('1997-07-18 00:00:00'),
  14: Timestamp('1997-07-19 00:00:00'),
  15: Timestamp('1997-07-20 00:00:00'),
  16: Timestamp('1997-07-21 00:00:00'),
  17: Timestamp('1997-07-22 00:00:00'),
  18: Timestamp('1997-07-23 00:00:00'),
  19: Timestamp('1997-07-24 00:00:00'),
  20: Timestamp('1997-07-25 00:00:00'),
  21: Timestamp('1997-07-26 00:00:00'),
  22: Timestamp('1997-07-27 00:00:00'),
  23: Timestamp('1997-07-28 00:00:00'),
  24: Timestamp('1997-07-29 00:00:00'),
  25: Timestamp('1997-07-30 00:00:00'),
  26: Timestamp('1997-07-31 00:00:00'),
  27: Timestamp('1997-08-01 00:00:00'),
  28: Timestamp('1997-08-02 00:00:00'),
  29: Timestamp('1997-08-03 00:00:00'),
  30: Timestamp('1997-08-04 00:00:00'),
  31: Timestamp('1997-08-05 00:00:00'),
  32: Timestamp('1997-08-06 00:00:00'),
  33: Timestamp('1997-08-07 00:00:00'),
  34: Timestamp('1997-08-08 00:00:00'),
  35: Timestamp('1997-08-09 00:00:00'),
  36: Timestamp('1997-08-10 00:00:00'),
  37: Timestamp('1997-08-11 00:00:00'),
  38: Timestamp('1997-08-12 00:00:00'),
  39: Timestamp('1997-08-13 00:00:00'),
  40: Timestamp('1997-08-14 00:00:00'),
  41: Timestamp('1997-08-15 00:00:00'),
  42: Timestamp('1997-08-16 00:00:00'),
  43: Timestamp('1997-08-17 00:00:00'),
  44: Timestamp('1997-08-18 00:00:00'),
  45: Timestamp('1997-08-19 00:00:00'),
  46: Timestamp('1997-08-20 00:00:00'),
  47: Timestamp('1997-08-21 00:00:00'),
  48: Timestamp('1997-08-22 00:00:00'),
  49: Timestamp('1997-08-23 00:00:00'),
  50: Timestamp('1997-08-24 00:00:00'),
  51: Timestamp('1997-08-25 00:00:00'),
  52: Timestamp('1997-08-26 00:00:00'),
  53: Timestamp('1997-08-27 00:00:00'),
  54: Timestamp('1997-08-28 00:00:00'),
  55: Timestamp('1997-08-29 00:00:00'),
  56: Timestamp('1997-08-30 00:00:00'),
  57: Timestamp('1997-08-31 00:00:00'),
  58: Timestamp('1997-09-01 00:00:00'),
  59: Timestamp('1997-09-02 00:00:00'),
  60: Timestamp('1997-09-03 00:00:00'),
  61: Timestamp('1997-09-04 00:00:00'),
  62: Timestamp('1997-09-05 00:00:00'),
  63: Timestamp('1997-09-06 00:00:00'),
  64: Timestamp('1997-09-07 00:00:00'),
  65: Timestamp('1997-09-08 00:00:00'),
  66: Timestamp('1997-09-09 00:00:00'),
  67: Timestamp('1997-09-10 00:00:00'),
  68: Timestamp('1997-09-11 00:00:00'),
  69: Timestamp('1997-09-12 00:00:00'),
  70: Timestamp('1997-09-13 00:00:00'),
  71: Timestamp('1997-09-14 00:00:00'),
  72: Timestamp('1997-09-15 00:00:00'),
  73: Timestamp('1997-09-16 00:00:00'),
  74: Timestamp('1997-09-17 00:00:00'),
  75: Timestamp('1997-09-18 00:00:00'),
  76: Timestamp('1997-09-19 00:00:00'),
  77: Timestamp('1997-09-20 00:00:00'),
  78: Timestamp('1997-09-21 00:00:00'),
  79: Timestamp('1997-09-22 00:00:00'),
  80: Timestamp('1997-09-23 00:00:00'),
  81: Timestamp('1997-09-24 00:00:00'),
  82: Timestamp('1997-09-25 00:00:00'),
  83: Timestamp('1997-09-26 00:00:00'),
  84: Timestamp('1997-09-27 00:00:00'),
  85: Timestamp('1997-09-28 00:00:00'),
  86: Timestamp('1997-09-29 00:00:00'),
  87: Timestamp('1997-09-30 00:00:00'),
  88: Timestamp('1997-10-01 00:00:00'),
  89: Timestamp('1997-10-02 00:00:00'),
  90: Timestamp('1997-10-03 00:00:00'),
  91: Timestamp('1997-10-04 00:00:00'),
  92: Timestamp('1997-10-05 00:00:00'),
  93: Timestamp('1997-10-06 00:00:00'),
  94: Timestamp('1997-10-07 00:00:00'),
  95: Timestamp('1997-10-08 00:00:00'),
  96: Timestamp('1997-10-09 00:00:00'),
  97: Timestamp('1997-10-10 00:00:00'),
  98: Timestamp('1997-10-11 00:00:00'),
  99: Timestamp('1997-10-12 00:00:00')},
 'Price': {0: 7370,
  1: 960,
  2: 5490,
  3: 5291,
  4: 5834,
  5: 6365,
  6: 566,
  7: 4526,
  8: 5678,
  9: 8422,
  10: 1785,
  11: 869,
  12: 7049,
  13: 2533,
  14: 5411,
  15: 5151,
  16: 6520,
  17: 1284,
  18: 4655,
  19: 3485,
  20: 6496,
  21: 8766,
  22: 9374,
  23: 2658,
  24: 7949,
  25: 2147,
  26: 2847,
  27: 9267,
  28: 289,
  29: 2834,
  30: 3105,
  31: 4758,
  32: 1999,
  33: 7834,
  34: 1367,
  35: 1628,
  36: 3656,
  37: 3990,
  38: 8938,
  39: 5493,
  40: 8892,
  41: 8533,
  42: 7613,
  43: 2712,
  44: 7141,
  45: 9655,
  46: 6335,
  47: 5586,
  48: 7199,
  49: 9770,
  50: 875,
  51: 8326,
  52: 3252,
  53: 1685,
  54: 4043,
  55: 7655,
  56: 3173,
  57: 1121,
  58: 3943,
  59: 8089,
  60: 9792,
  61: 6973,
  62: 5775,
  63: 261,
  64: 4397,
  65: 1095,
  66: 7729,
  67: 9567,
  68: 1116,
  69: 7969,
  70: 6539,
  71: 7992,
  72: 6963,
  73: 8016,
  74: 8629,
  75: 978,
  76: 9368,
  77: 4987,
  78: 4959,
  79: 6431,
  80: 8671,
  81: 8784,
  82: 7308,
  83: 5376,
  84: 2162,
  85: 164,
  86: 8106,
  87: 2668,
  88: 5563,
  89: 2127,
  90: 2795,
  91: 9787,
  92: 5358,
  93: 5718,
  94: 6836,
  95: 491,
  96: 5992,
  97: 3661,
  98: 6284,
  99: 3199},
 'Quantity': {0: 16,
  1: 82,
  2: 81,
  3: 21,
  4: 43,
  5: 42,
  6: 57,
  7: 32,
  8: 71,
  9: 97,
  10: 46,
  11: 53,
  12: 95,
  13: 44,
  14: 74,
  15: 56,
  16: 87,
  17: 12,
  18: 10,
  19: 14,
  20: 99,
  21: 23,
  22: 36,
  23: 18,
  24: 88,
  25: 24,
  26: 99,
  27: 51,
  28: 86,
  29: 60,
  30: 72,
  31: 61,
  32: 13,
  33: 32,
  34: 24,
  35: 52,
  36: 38,
  37: 45,
  38: 22,
  39: 41,
  40: 80,
  41: 68,
  42: 95,
  43: 37,
  44: 75,
  45: 51,
  46: 54,
  47: 71,
  48: 66,
  49: 15,
  50: 37,
  51: 37,
  52: 53,
  53: 93,
  54: 39,
  55: 71,
  56: 84,
  57: 98,
  58: 71,
  59: 10,
  60: 36,
  61: 71,
  62: 86,
  63: 12,
  64: 79,
  65: 81,
  66: 36,
  67: 18,
  68: 71,
  69: 46,
  70: 60,
  71: 53,
  72: 33,
  73: 88,
  74: 68,
  75: 41,
  76: 97,
  77: 61,
  78: 71,
  79: 67,
  80: 61,
  81: 21,
  82: 48,
  83: 11,
  84: 12,
  85: 65,
  86: 90,
  87: 68,
  88: 11,
  89: 11,
  90: 63,
  91: 96,
  92: 10,
  93: 28,
  94: 11,
  95: 62,
  96: 53,
  97: 99,
  98: 41,
  99: 79},
 'Width': {0: 2.4205527151150044,
  1: 7.616196153287175,
  2: 7.282163486118596,
  3: 6.3230583059357945,
  4: 5.357746840747585,
  5: 8.35302495589238,
  6: 1.8651851039985423,
  7: 5.908929431882418,
  8: 0.16587828927856152,
  9: 2.2649577519793795,
  10: 1.7436642900499144,
  11: 3.867353463005374,
  12: 1.3752094414599325,
  13: 1.1347352124058907,
  14: 8.77339353380981,
  15: 6.59984046034179,
  16: 5.5520081159946235,
  17: 2.418522909004517,
  18: 8.972157579533267,
  19: 6.33101457273268,
  20: 3.492095746126609,
  21: 8.971102599525771,
  22: 7.798755458576238,
  23: 0.8413996499504883,
  24: 8.985541885270793,
  25: 0.09197051616629648,
  26: 6.635017691080558,
  27: 1.6080805141749865,
  28: 6.918951976926932,
  29: 2.242693094605598,
  30: 2.3724908749680007,
  31: 7.464914051180242,
  32: 8.49223410494178,
  33: 5.683086033354716,
  34: 3.6771580305943354,
  35: 2.4398964337908358,
  36: 3.930977246667604,
  37: 6.311386259972629,
  38: 5.026370931051921,
  39: 4.925176938188639,
  40: 7.224521152615053,
  41: 0.2431596643145384,
  42: 1.7711067940704894,
  43: 9.539285770025874,
  44: 3.7015870025544437,
  45: 9.283185625877254,
  46: 9.666548190436696,
  47: 8.530094554673601,
  48: 3.8509772860192526,
  49: 3.1692200515627764,
  50: 5.568012624583502,
  51: 6.96029796674973,
  52: 0.9717649377076854,
  53: 9.900538501042632,
  54: 5.183296523637368,
  55: 7.407686177542044,
  56: 7.024840839871093,
  57: 2.9359184426449336,
  58: 8.101133946791808,
  59: 9.132405525564714,
  60: 5.015162946871996,
  61: 6.4996393077776515,
  62: 7.95792669436101,
  63: 3.379951568515358,
  64: 0.93981939840869,
  65: 0.35942273796742086,
  66: 5.426446347075766,
  67: 5.9083326056901075,
  68: 0.37348188749214417,
  69: 3.601906414112629,
  70: 5.222432600548044,
  71: 2.1582102749684315,
  72: 0.85347464993768,
  73: 5.31354631568148,
  74: 6.374299014982066,
  75: 9.758520794625346,
  76: 3.2295647294124596,
  77: 2.708322512620742,
  78: 0.7845638134226596,
  79: 9.626484146779251,
  80: 6.95974206093698,
  81: 1.7329432007084578,
  82: 2.502428981645953,
  83: 7.145959227000623,
  84: 2.7993389694594284,
  85: 7.378969166957685,
  86: 6.117207462343522,
  87: 2.4773098950115746,
  88: 7.578461104643691,
  89: 1.1607264050691624,
  90: 0.40728802318970136,
  91: 7.036578593800237,
  92: 0.9783416065100148,
  93: 4.734717707805657,
  94: 4.33851649237973,
  95: 6.158500980522165,
  96: 0.4530400977204452,
  97: 6.258599157142363,
  98: 8.564898411883222,
  99: 1.629344270814297},
 'Height': {0: 6.721355474058786,
  1: 2.3763754399239967,
  2: 3.677831327192532,
  3: 6.335297107608947,
  4: 0.902897700544083,
  5: 3.2078006497173583,
  6: 0.40775141554763916,
  7: 6.775643618422825,
  8: 5.12093058299281,
  9: 6.451727904094499,
  10: 6.90937738102466,
  11: 9.367299887367345,
  12: 3.410663510502585,
  13: 9.246936182785628,
  14: 2.579416277151556,
  15: 8.172222002012159,
  16: 5.296505783560065,
  17: 0.9310276780589921,
  18: 9.004180571633304,
  19: 3.390297910487007,
  20: 7.259556788702394,
  21: 8.870864242651173,
  22: 6.420316461542877,
  23: 1.6162871409461377,
  24: 6.0642905965958995,
  25: 1.014715428660321,
  26: 0.05061583846218687,
  27: 5.487337893665861,
  28: 6.519612595026006,
  29: 7.121792213475358,
  30: 3.2539969815926773,
  31: 6.496328990472147,
  32: 6.576128923003433,
  33: 0.9367476782809248,
  34: 2.6520236768172545,
  35: 9.730105547524456,
  36: 8.920465551771134,
  37: 7.948113035416484,
  38: 5.769038846263591,
  39: 1.952429877980445,
  40: 2.807723624408558,
  41: 6.454722959071678,
  42: 9.404585843529143,
  43: 9.148643902204485,
  44: 0.15456616528867428,
  45: 4.281841483173143,
  46: 9.636199770892528,
  47: 2.944488920695857,
  48: 8.511366715168569,
  49: 1.6949274668609249,
  50: 9.36154774160781,
  51: 5.700611700893649,
  52: 6.150072266991698,
  53: 1.4008401523652403,
  54: 8.773730719279554,
  55: 6.97015740995268,
  56: 3.5949115121975517,
  57: 8.093611554785136,
  58: 8.670723185801037,
  59: 5.113423988609378,
  60: 7.9829517896677515,
  61: 7.019668772577034,
  62: 8.900053418175663,
  63: 3.75582952639944,
  64: 5.78280140996174,
  65: 4.655980181324601,
  66: 2.865412521282844,
  67: 0.3050024993904943,
  68: 8.226005606596583,
  69: 1.2706051265188478,
  70: 7.699935530986108,
  71: 6.228904758190002,
  72: 0.516817211686077,
  73: 5.406351216101065,
  74: 7.260913337226615,
  75: 5.163003483011953,
  76: 7.9518619476870365,
  77: 4.389714207056361,
  78: 0.2535074341545751,
  79: 8.359801205122059,
  80: 4.089529444142698,
  81: 1.5643704267108605,
  82: 5.4922666470612045,
  83: 6.601973767177313,
  84: 9.54865280663194,
  85: 5.543540525114007,
  86: 4.196000624277899,
  87: 3.559726786512616,
  88: 0.14393488629755868,
  89: 0.4600264202175275,
  90: 8.554605840110073,
  91: 4.741738290873252,
  92: 4.916158751168323,
  93: 1.7320186991001518,
  94: 3.9850473439737346,
  95: 6.350936508676438,
  96: 3.746126146264712,
  97: 5.031362585800877,
  98: 6.58693631618945,
  99: 0.7056874740042984},
 'Quality': {0: 52.84838556412631,
  1: 40.53022621083244,
  2: 51.71551162546926,
  3: 58.80460482849915,
  4: 51.509483557517584,
  5: 47.76339852413044,
  6: 52.86576436884707,
  7: 49.16505780983033,
  8: 50.9123357863187,
  9: 58.8292961755305,
  10: 47.722052756015486,
  11: 59.22381127647829,
  12: 58.107012839121275,
  13: 43.91582269578593,
  14: 41.38722601750331,
  15: 42.01556002754853,
  16: 40.364436513030995,
  17: 41.888859215118565,
  18: 53.66013546832714,
  19: 41.42377296920458,
  20: 46.37951260587523,
  21: 56.897506219389086,
  22: 40.46543871471652,
  23: 56.28936965177871,
  24: 45.637095495467996,
  25: 42.36329655243313,
  26: 53.934743307283014,
  27: 52.57885693559768,
  28: 57.549440270541055,
  29: 54.70142087607772,
  30: 56.06961860769697,
  31: 45.64069145142613,
  32: 43.548790875594456,
  33: 55.012295032817164,
  34: 56.136694785345284,
  35: 59.81010284001347,
  36: 48.25235353822853,
  37: 47.440361715855666,
  38: 55.528259214839935,
  39: 46.816070805060356,
  40: 58.61514651207129,
  41: 57.16825503686024,
  42: 48.579880547500366,
  43: 55.017421355829946,
  44: 55.09085748169365,
  45: 42.062477376718654,
  46: 58.05105813359133,
  47: 50.105047448957144,
  48: 56.52914932215484,
  49: 46.400992020612236,
  50: 57.91046456992401,
  51: 47.784033574683264,
  52: 40.21675302960597,
  53: 58.10763952838528,
  54: 41.82573353572267,
  55: 46.3862727518083,
  56: 59.0012393410161,
  57: 59.012142938751126,
  58: 51.46875776246572,
  59: 52.63674424339598,
  60: 48.96891043956639,
  61: 45.86421543396129,
  62: 46.57329090739832,
  63: 53.45036912154077,
  64: 55.047490588753604,
  65: 55.83158087451697,
  66: 55.79236285589108,
  67: 41.82412206097381,
  68: 49.88840609405163,
  69: 41.15117520033289,
  70: 50.99057764647471,
  71: 48.83061002746754,
  72: 57.754083655166,
  73: 47.01830025104157,
  74: 42.341340328552114,
  75: 42.85983364105672,
  76: 55.23021263434944,
  77: 52.36436126632522,
  78: 42.022453522455805,
  79: 41.68213612229995,
  80: 54.0193826291824,
  81: 41.45526012728387,
  82: 56.437201185807126,
  83: 54.124844543129925,
  84: 41.626975612837995,
  85: 41.69675428170384,
  86: 59.73279157002351,
  87: 47.4854159151224,
  88: 47.412842941337814,
  89: 56.25599134515005,
  90: 58.94497154767717,
  91: 59.720021276457416,
  92: 55.067563705178834,
  93: 47.525191710618316,
  94: 41.67001433397338,
  95: 55.542938318548735,
  96: 51.1680849947161,
  97: 48.48444018493953,
  98: 58.12708770189472,
  99: 42.223949646123025},
 'Difference': {0: -0.3023242420763079,
  1: -0.004562828990296256,
  2: -0.6823426011201539,
  3: -0.04819548553581296,
  4: 1.2711382259809147,
  5: 0.7708631014640396,
  6: 0.49268648380040525,
  7: 0.08887300613174359,
  8: -1.4456099724720826,
  9: -0.8441369135177398,
  10: -0.34320123663116797,
  11: 0.4576764544288389,
  12: 0.06965266451887907,
  13: 0.9835043063584651,
  14: 0.4736273877275646,
  15: 0.05435057793857113,
  16: 2.2757612975672035,
  17: 0.4062266850499283,
  18: -0.43194220160837227,
  19: 1.85996700648693,
  20: 1.2004115484133984,
  21: 1.816087790243815,
  22: -0.11093193562951016,
  23: 0.9763091264811027,
  24: -1.4528494590723608,
  25: 0.7840064109141683,
  26: -0.1577239582541034,
  27: -1.3550579555179323,
  28: 1.0326004040179766,
  29: -1.810131324996016,
  30: -1.912706517064219,
  31: 0.36247645880530205,
  32: 0.571347510326788,
  33: 0.9705238200132107,
  34: 0.7419630165294652,
  35: 1.476658625429629,
  36: 0.700242953362419,
  37: -0.13229944394246262,
  38: -0.07361111579190632,
  39: -0.28222118898721094,
  40: 0.29547752442318337,
  41: -1.0973458685666584,
  42: 0.3409221985589535,
  43: -0.08641350683161347,
  44: 0.27563515788740767,
  45: 0.27872303497066114,
  46: -2.452264601315733,
  47: -0.901293818664668,
  48: -0.10862866408885558,
  49: -0.05548495829767373,
  50: 0.25938930899969403,
  51: 0.3023482903316427,
  52: 1.5162333229338962,
  53: 0.31245848109794744,
  54: -0.31302370821644054,
  55: -1.5991234725374825,
  56: -1.3685901155418572,
  57: 0.5354918099752046,
  58: 1.060446814110468,
  59: 1.5413709969181826,
  60: -0.8278930789157132,
  61: -0.30386443543092717,
  62: 0.24233368608311256,
  63: 2.047398921130238,
  64: 0.11486146821389558,
  65: 1.551262854732971,
  66: 0.1699729029073083,
  67: 1.1532451864284559,
  68: 1.0265798465520781,
  69: 0.1660881325081512,
  70: -1.0203832472621548,
  71: -0.2690944379289504,
  72: 1.489045173884479,
  73: 0.8778251684801136,
  74: -0.43365032677184717,
  75: -0.34230863862439936,
  76: -1.7308731037655674,
  77: 1.444338791981811,
  78: 0.8860635602461532,
  79: -0.13707782104185295,
  80: 0.20013441917342262,
  81: -2.17086582813041,
  82: -0.4867144960427494,
  83: 1.3344456408641356,
  84: 0.9815473767300812,
  85: 0.330700557063932,
  86: -0.014718258634936664,
  87: 0.7964054296963266,
  88: -0.28138510655108645,
  89: -1.6646931961950078,
  90: -0.006199139673872496,
  91: 0.40311932708557713,
  92: 1.122677684798021,
  93: -1.4411957604959986,
  94: -0.12291130655145516,
  95: -0.07530365475512335,
  96: -1.1012519048471119,
  97: 0.48767327492329376,
  98: 0.7473680316118015,
  99: -0.2906923080310432}}

In [161]:
df.to_dict(orient="records")

[{'Date': Timestamp('1997-07-05 00:00:00'),
  'Price': 7370,
  'Quantity': 16,
  'Width': 2.4205527151150044,
  'Height': 6.721355474058786,
  'Quality': 52.84838556412631,
  'Difference': -0.3023242420763079},
 {'Date': Timestamp('1997-07-06 00:00:00'),
  'Price': 960,
  'Quantity': 82,
  'Width': 7.616196153287175,
  'Height': 2.3763754399239967,
  'Quality': 40.53022621083244,
  'Difference': -0.004562828990296256},
 {'Date': Timestamp('1997-07-07 00:00:00'),
  'Price': 5490,
  'Quantity': 81,
  'Width': 7.282163486118596,
  'Height': 3.677831327192532,
  'Quality': 51.71551162546926,
  'Difference': -0.6823426011201539},
 {'Date': Timestamp('1997-07-08 00:00:00'),
  'Price': 5291,
  'Quantity': 21,
  'Width': 6.3230583059357945,
  'Height': 6.335297107608947,
  'Quality': 58.80460482849915,
  'Difference': -0.04819548553581296},
 {'Date': Timestamp('1997-07-09 00:00:00'),
  'Price': 5834,
  'Quantity': 43,
  'Width': 5.357746840747585,
  'Height': 0.902897700544083,
  'Quality': 51.509483557517584,
  'Difference': 1.2711382259809147},
 {'Date': Timestamp('1997-07-10 00:00:00'),
  'Price': 6365,
  'Quantity': 42,
  'Width': 8.35302495589238,
  'Height': 3.2078006497173583,
  'Quality': 47.76339852413044,
  'Difference': 0.7708631014640396},
 {'Date': Timestamp('1997-07-11 00:00:00'),
  'Price': 566,
  'Quantity': 57,
  'Width': 1.8651851039985423,
  'Height': 0.40775141554763916,
  'Quality': 52.86576436884707,
  'Difference': 0.49268648380040525},
 {'Date': Timestamp('1997-07-12 00:00:00'),
  'Price': 4526,
  'Quantity': 32,
  'Width': 5.908929431882418,
  'Height': 6.775643618422825,
  'Quality': 49.16505780983033,
  'Difference': 0.08887300613174359},
 {'Date': Timestamp('1997-07-13 00:00:00'),
  'Price': 5678,
  'Quantity': 71,
  'Width': 0.16587828927856152,
  'Height': 5.12093058299281,
  'Quality': 50.9123357863187,
  'Difference': -1.4456099724720826},
 {'Date': Timestamp('1997-07-14 00:00:00'),
  'Price': 8422,
  'Quantity': 97,
  'Width': 2.2649577519793795,
  'Height': 6.451727904094499,
  'Quality': 58.8292961755305,
  'Difference': -0.8441369135177398},
 {'Date': Timestamp('1997-07-15 00:00:00'),
  'Price': 1785,
  'Quantity': 46,
  'Width': 1.7436642900499144,
  'Height': 6.90937738102466,
  'Quality': 47.722052756015486,
  'Difference': -0.34320123663116797},
 {'Date': Timestamp('1997-07-16 00:00:00'),
  'Price': 869,
  'Quantity': 53,
  'Width': 3.867353463005374,
  'Height': 9.367299887367345,
  'Quality': 59.22381127647829,
  'Difference': 0.4576764544288389},
 {'Date': Timestamp('1997-07-17 00:00:00'),
  'Price': 7049,
  'Quantity': 95,
  'Width': 1.3752094414599325,
  'Height': 3.410663510502585,
  'Quality': 58.107012839121275,
  'Difference': 0.06965266451887907},
 {'Date': Timestamp('1997-07-18 00:00:00'),
  'Price': 2533,
  'Quantity': 44,
  'Width': 1.1347352124058907,
  'Height': 9.246936182785628,
  'Quality': 43.91582269578593,
  'Difference': 0.9835043063584651},
 {'Date': Timestamp('1997-07-19 00:00:00'),
  'Price': 5411,
  'Quantity': 74,
  'Width': 8.77339353380981,
  'Height': 2.579416277151556,
  'Quality': 41.38722601750331,
  'Difference': 0.4736273877275646},
 {'Date': Timestamp('1997-07-20 00:00:00'),
  'Price': 5151,
  'Quantity': 56,
  'Width': 6.59984046034179,
  'Height': 8.172222002012159,
  'Quality': 42.01556002754853,
  'Difference': 0.05435057793857113},
 {'Date': Timestamp('1997-07-21 00:00:00'),
  'Price': 6520,
  'Quantity': 87,
  'Width': 5.5520081159946235,
  'Height': 5.296505783560065,
  'Quality': 40.364436513030995,
  'Difference': 2.2757612975672035},
 {'Date': Timestamp('1997-07-22 00:00:00'),
  'Price': 1284,
  'Quantity': 12,
  'Width': 2.418522909004517,
  'Height': 0.9310276780589921,
  'Quality': 41.888859215118565,
  'Difference': 0.4062266850499283},
 {'Date': Timestamp('1997-07-23 00:00:00'),
  'Price': 4655,
  'Quantity': 10,
  'Width': 8.972157579533267,
  'Height': 9.004180571633304,
  'Quality': 53.66013546832714,
  'Difference': -0.43194220160837227},
 {'Date': Timestamp('1997-07-24 00:00:00'),
  'Price': 3485,
  'Quantity': 14,
  'Width': 6.33101457273268,
  'Height': 3.390297910487007,
  'Quality': 41.42377296920458,
  'Difference': 1.85996700648693},
 {'Date': Timestamp('1997-07-25 00:00:00'),
  'Price': 6496,
  'Quantity': 99,
  'Width': 3.492095746126609,
  'Height': 7.259556788702394,
  'Quality': 46.37951260587523,
  'Difference': 1.2004115484133984},
 {'Date': Timestamp('1997-07-26 00:00:00'),
  'Price': 8766,
  'Quantity': 23,
  'Width': 8.971102599525771,
  'Height': 8.870864242651173,
  'Quality': 56.897506219389086,
  'Difference': 1.816087790243815},
 {'Date': Timestamp('1997-07-27 00:00:00'),
  'Price': 9374,
  'Quantity': 36,
  'Width': 7.798755458576238,
  'Height': 6.420316461542877,
  'Quality': 40.46543871471652,
  'Difference': -0.11093193562951016},
 {'Date': Timestamp('1997-07-28 00:00:00'),
  'Price': 2658,
  'Quantity': 18,
  'Width': 0.8413996499504883,
  'Height': 1.6162871409461377,
  'Quality': 56.28936965177871,
  'Difference': 0.9763091264811027},
 {'Date': Timestamp('1997-07-29 00:00:00'),
  'Price': 7949,
  'Quantity': 88,
  'Width': 8.985541885270793,
  'Height': 6.0642905965958995,
  'Quality': 45.637095495467996,
  'Difference': -1.4528494590723608},
 {'Date': Timestamp('1997-07-30 00:00:00'),
  'Price': 2147,
  'Quantity': 24,
  'Width': 0.09197051616629648,
  'Height': 1.014715428660321,
  'Quality': 42.36329655243313,
  'Difference': 0.7840064109141683},
 {'Date': Timestamp('1997-07-31 00:00:00'),
  'Price': 2847,
  'Quantity': 99,
  'Width': 6.635017691080558,
  'Height': 0.05061583846218687,
  'Quality': 53.934743307283014,
  'Difference': -0.1577239582541034},
 {'Date': Timestamp('1997-08-01 00:00:00'),
  'Price': 9267,
  'Quantity': 51,
  'Width': 1.6080805141749865,
  'Height': 5.487337893665861,
  'Quality': 52.57885693559768,
  'Difference': -1.3550579555179323},
 {'Date': Timestamp('1997-08-02 00:00:00'),
  'Price': 289,
  'Quantity': 86,
  'Width': 6.918951976926932,
  'Height': 6.519612595026006,
  'Quality': 57.549440270541055,
  'Difference': 1.0326004040179766},
 {'Date': Timestamp('1997-08-03 00:00:00'),
  'Price': 2834,
  'Quantity': 60,
  'Width': 2.242693094605598,
  'Height': 7.121792213475358,
  'Quality': 54.70142087607772,
  'Difference': -1.810131324996016},
 {'Date': Timestamp('1997-08-04 00:00:00'),
  'Price': 3105,
  'Quantity': 72,
  'Width': 2.3724908749680007,
  'Height': 3.2539969815926773,
  'Quality': 56.06961860769697,
  'Difference': -1.912706517064219},
 {'Date': Timestamp('1997-08-05 00:00:00'),
  'Price': 4758,
  'Quantity': 61,
  'Width': 7.464914051180242,
  'Height': 6.496328990472147,
  'Quality': 45.64069145142613,
  'Difference': 0.36247645880530205},
 {'Date': Timestamp('1997-08-06 00:00:00'),
  'Price': 1999,
  'Quantity': 13,
  'Width': 8.49223410494178,
  'Height': 6.576128923003433,
  'Quality': 43.548790875594456,
  'Difference': 0.571347510326788},
 {'Date': Timestamp('1997-08-07 00:00:00'),
  'Price': 7834,
  'Quantity': 32,
  'Width': 5.683086033354716,
  'Height': 0.9367476782809248,
  'Quality': 55.012295032817164,
  'Difference': 0.9705238200132107},
 {'Date': Timestamp('1997-08-08 00:00:00'),
  'Price': 1367,
  'Quantity': 24,
  'Width': 3.6771580305943354,
  'Height': 2.6520236768172545,
  'Quality': 56.136694785345284,
  'Difference': 0.7419630165294652},
 {'Date': Timestamp('1997-08-09 00:00:00'),
  'Price': 1628,
  'Quantity': 52,
  'Width': 2.4398964337908358,
  'Height': 9.730105547524456,
  'Quality': 59.81010284001347,
  'Difference': 1.476658625429629},
 {'Date': Timestamp('1997-08-10 00:00:00'),
  'Price': 3656,
  'Quantity': 38,
  'Width': 3.930977246667604,
  'Height': 8.920465551771134,
  'Quality': 48.25235353822853,
  'Difference': 0.700242953362419},
 {'Date': Timestamp('1997-08-11 00:00:00'),
  'Price': 3990,
  'Quantity': 45,
  'Width': 6.311386259972629,
  'Height': 7.948113035416484,
  'Quality': 47.440361715855666,
  'Difference': -0.13229944394246262},
 {'Date': Timestamp('1997-08-12 00:00:00'),
  'Price': 8938,
  'Quantity': 22,
  'Width': 5.026370931051921,
  'Height': 5.769038846263591,
  'Quality': 55.528259214839935,
  'Difference': -0.07361111579190632},
 {'Date': Timestamp('1997-08-13 00:00:00'),
  'Price': 5493,
  'Quantity': 41,
  'Width': 4.925176938188639,
  'Height': 1.952429877980445,
  'Quality': 46.816070805060356,
  'Difference': -0.28222118898721094},
 {'Date': Timestamp('1997-08-14 00:00:00'),
  'Price': 8892,
  'Quantity': 80,
  'Width': 7.224521152615053,
  'Height': 2.807723624408558,
  'Quality': 58.61514651207129,
  'Difference': 0.29547752442318337},
 {'Date': Timestamp('1997-08-15 00:00:00'),
  'Price': 8533,
  'Quantity': 68,
  'Width': 0.2431596643145384,
  'Height': 6.454722959071678,
  'Quality': 57.16825503686024,
  'Difference': -1.0973458685666584},
 {'Date': Timestamp('1997-08-16 00:00:00'),
  'Price': 7613,
  'Quantity': 95,
  'Width': 1.7711067940704894,
  'Height': 9.404585843529143,
  'Quality': 48.579880547500366,
  'Difference': 0.3409221985589535},
 {'Date': Timestamp('1997-08-17 00:00:00'),
  'Price': 2712,
  'Quantity': 37,
  'Width': 9.539285770025874,
  'Height': 9.148643902204485,
  'Quality': 55.017421355829946,
  'Difference': -0.08641350683161347},
 {'Date': Timestamp('1997-08-18 00:00:00'),
  'Price': 7141,
  'Quantity': 75,
  'Width': 3.7015870025544437,
  'Height': 0.15456616528867428,
  'Quality': 55.09085748169365,
  'Difference': 0.27563515788740767},
 {'Date': Timestamp('1997-08-19 00:00:00'),
  'Price': 9655,
  'Quantity': 51,
  'Width': 9.283185625877254,
  'Height': 4.281841483173143,
  'Quality': 42.062477376718654,
  'Difference': 0.27872303497066114},
 {'Date': Timestamp('1997-08-20 00:00:00'),
  'Price': 6335,
  'Quantity': 54,
  'Width': 9.666548190436696,
  'Height': 9.636199770892528,
  'Quality': 58.05105813359133,
  'Difference': -2.452264601315733},
 {'Date': Timestamp('1997-08-21 00:00:00'),
  'Price': 5586,
  'Quantity': 71,
  'Width': 8.530094554673601,
  'Height': 2.944488920695857,
  'Quality': 50.105047448957144,
  'Difference': -0.901293818664668},
 {'Date': Timestamp('1997-08-22 00:00:00'),
  'Price': 7199,
  'Quantity': 66,
  'Width': 3.8509772860192526,
  'Height': 8.511366715168569,
  'Quality': 56.52914932215484,
  'Difference': -0.10862866408885558},
 {'Date': Timestamp('1997-08-23 00:00:00'),
  'Price': 9770,
  'Quantity': 15,
  'Width': 3.1692200515627764,
  'Height': 1.6949274668609249,
  'Quality': 46.400992020612236,
  'Difference': -0.05548495829767373},
 {'Date': Timestamp('1997-08-24 00:00:00'),
  'Price': 875,
  'Quantity': 37,
  'Width': 5.568012624583502,
  'Height': 9.36154774160781,
  'Quality': 57.91046456992401,
  'Difference': 0.25938930899969403},
 {'Date': Timestamp('1997-08-25 00:00:00'),
  'Price': 8326,
  'Quantity': 37,
  'Width': 6.96029796674973,
  'Height': 5.700611700893649,
  'Quality': 47.784033574683264,
  'Difference': 0.3023482903316427},
 {'Date': Timestamp('1997-08-26 00:00:00'),
  'Price': 3252,
  'Quantity': 53,
  'Width': 0.9717649377076854,
  'Height': 6.150072266991698,
  'Quality': 40.21675302960597,
  'Difference': 1.5162333229338962},
 {'Date': Timestamp('1997-08-27 00:00:00'),
  'Price': 1685,
  'Quantity': 93,
  'Width': 9.900538501042632,
  'Height': 1.4008401523652403,
  'Quality': 58.10763952838528,
  'Difference': 0.31245848109794744},
 {'Date': Timestamp('1997-08-28 00:00:00'),
  'Price': 4043,
  'Quantity': 39,
  'Width': 5.183296523637368,
  'Height': 8.773730719279554,
  'Quality': 41.82573353572267,
  'Difference': -0.31302370821644054},
 {'Date': Timestamp('1997-08-29 00:00:00'),
  'Price': 7655,
  'Quantity': 71,
  'Width': 7.407686177542044,
  'Height': 6.97015740995268,
  'Quality': 46.3862727518083,
  'Difference': -1.5991234725374825},
 {'Date': Timestamp('1997-08-30 00:00:00'),
  'Price': 3173,
  'Quantity': 84,
  'Width': 7.024840839871093,
  'Height': 3.5949115121975517,
  'Quality': 59.0012393410161,
  'Difference': -1.3685901155418572},
 {'Date': Timestamp('1997-08-31 00:00:00'),
  'Price': 1121,
  'Quantity': 98,
  'Width': 2.9359184426449336,
  'Height': 8.093611554785136,
  'Quality': 59.012142938751126,
  'Difference': 0.5354918099752046},
 {'Date': Timestamp('1997-09-01 00:00:00'),
  'Price': 3943,
  'Quantity': 71,
  'Width': 8.101133946791808,
  'Height': 8.670723185801037,
  'Quality': 51.46875776246572,
  'Difference': 1.060446814110468},
 {'Date': Timestamp('1997-09-02 00:00:00'),
  'Price': 8089,
  'Quantity': 10,
  'Width': 9.132405525564714,
  'Height': 5.113423988609378,
  'Quality': 52.63674424339598,
  'Difference': 1.5413709969181826},
 {'Date': Timestamp('1997-09-03 00:00:00'),
  'Price': 9792,
  'Quantity': 36,
  'Width': 5.015162946871996,
  'Height': 7.9829517896677515,
  'Quality': 48.96891043956639,
  'Difference': -0.8278930789157132},
 {'Date': Timestamp('1997-09-04 00:00:00'),
  'Price': 6973,
  'Quantity': 71,
  'Width': 6.4996393077776515,
  'Height': 7.019668772577034,
  'Quality': 45.86421543396129,
  'Difference': -0.30386443543092717},
 {'Date': Timestamp('1997-09-05 00:00:00'),
  'Price': 5775,
  'Quantity': 86,
  'Width': 7.95792669436101,
  'Height': 8.900053418175663,
  'Quality': 46.57329090739832,
  'Difference': 0.24233368608311256},
 {'Date': Timestamp('1997-09-06 00:00:00'),
  'Price': 261,
  'Quantity': 12,
  'Width': 3.379951568515358,
  'Height': 3.75582952639944,
  'Quality': 53.45036912154077,
  'Difference': 2.047398921130238},
 {'Date': Timestamp('1997-09-07 00:00:00'),
  'Price': 4397,
  'Quantity': 79,
  'Width': 0.93981939840869,
  'Height': 5.78280140996174,
  'Quality': 55.047490588753604,
  'Difference': 0.11486146821389558},
 {'Date': Timestamp('1997-09-08 00:00:00'),
  'Price': 1095,
  'Quantity': 81,
  'Width': 0.35942273796742086,
  'Height': 4.655980181324601,
  'Quality': 55.83158087451697,
  'Difference': 1.551262854732971},
 {'Date': Timestamp('1997-09-09 00:00:00'),
  'Price': 7729,
  'Quantity': 36,
  'Width': 5.426446347075766,
  'Height': 2.865412521282844,
  'Quality': 55.79236285589108,
  'Difference': 0.1699729029073083},
 {'Date': Timestamp('1997-09-10 00:00:00'),
  'Price': 9567,
  'Quantity': 18,
  'Width': 5.9083326056901075,
  'Height': 0.3050024993904943,
  'Quality': 41.82412206097381,
  'Difference': 1.1532451864284559},
 {'Date': Timestamp('1997-09-11 00:00:00'),
  'Price': 1116,
  'Quantity': 71,
  'Width': 0.37348188749214417,
  'Height': 8.226005606596583,
  'Quality': 49.88840609405163,
  'Difference': 1.0265798465520781},
 {'Date': Timestamp('1997-09-12 00:00:00'),
  'Price': 7969,
  'Quantity': 46,
  'Width': 3.601906414112629,
  'Height': 1.2706051265188478,
  'Quality': 41.15117520033289,
  'Difference': 0.1660881325081512},
 {'Date': Timestamp('1997-09-13 00:00:00'),
  'Price': 6539,
  'Quantity': 60,
  'Width': 5.222432600548044,
  'Height': 7.699935530986108,
  'Quality': 50.99057764647471,
  'Difference': -1.0203832472621548},
 {'Date': Timestamp('1997-09-14 00:00:00'),
  'Price': 7992,
  'Quantity': 53,
  'Width': 2.1582102749684315,
  'Height': 6.228904758190002,
  'Quality': 48.83061002746754,
  'Difference': -0.2690944379289504},
 {'Date': Timestamp('1997-09-15 00:00:00'),
  'Price': 6963,
  'Quantity': 33,
  'Width': 0.85347464993768,
  'Height': 0.516817211686077,
  'Quality': 57.754083655166,
  'Difference': 1.489045173884479},
 {'Date': Timestamp('1997-09-16 00:00:00'),
  'Price': 8016,
  'Quantity': 88,
  'Width': 5.31354631568148,
  'Height': 5.406351216101065,
  'Quality': 47.01830025104157,
  'Difference': 0.8778251684801136},
 {'Date': Timestamp('1997-09-17 00:00:00'),
  'Price': 8629,
  'Quantity': 68,
  'Width': 6.374299014982066,
  'Height': 7.260913337226615,
  'Quality': 42.341340328552114,
  'Difference': -0.43365032677184717},
 {'Date': Timestamp('1997-09-18 00:00:00'),
  'Price': 978,
  'Quantity': 41,
  'Width': 9.758520794625346,
  'Height': 5.163003483011953,
  'Quality': 42.85983364105672,
  'Difference': -0.34230863862439936},
 {'Date': Timestamp('1997-09-19 00:00:00'),
  'Price': 9368,
  'Quantity': 97,
  'Width': 3.2295647294124596,
  'Height': 7.9518619476870365,
  'Quality': 55.23021263434944,
  'Difference': -1.7308731037655674},
 {'Date': Timestamp('1997-09-20 00:00:00'),
  'Price': 4987,
  'Quantity': 61,
  'Width': 2.708322512620742,
  'Height': 4.389714207056361,
  'Quality': 52.36436126632522,
  'Difference': 1.444338791981811},
 {'Date': Timestamp('1997-09-21 00:00:00'),
  'Price': 4959,
  'Quantity': 71,
  'Width': 0.7845638134226596,
  'Height': 0.2535074341545751,
  'Quality': 42.022453522455805,
  'Difference': 0.8860635602461532},
 {'Date': Timestamp('1997-09-22 00:00:00'),
  'Price': 6431,
  'Quantity': 67,
  'Width': 9.626484146779251,
  'Height': 8.359801205122059,
  'Quality': 41.68213612229995,
  'Difference': -0.13707782104185295},
 {'Date': Timestamp('1997-09-23 00:00:00'),
  'Price': 8671,
  'Quantity': 61,
  'Width': 6.95974206093698,
  'Height': 4.089529444142698,
  'Quality': 54.0193826291824,
  'Difference': 0.20013441917342262},
 {'Date': Timestamp('1997-09-24 00:00:00'),
  'Price': 8784,
  'Quantity': 21,
  'Width': 1.7329432007084578,
  'Height': 1.5643704267108605,
  'Quality': 41.45526012728387,
  'Difference': -2.17086582813041},
 {'Date': Timestamp('1997-09-25 00:00:00'),
  'Price': 7308,
  'Quantity': 48,
  'Width': 2.502428981645953,
  'Height': 5.4922666470612045,
  'Quality': 56.437201185807126,
  'Difference': -0.4867144960427494},
 {'Date': Timestamp('1997-09-26 00:00:00'),
  'Price': 5376,
  'Quantity': 11,
  'Width': 7.145959227000623,
  'Height': 6.601973767177313,
  'Quality': 54.124844543129925,
  'Difference': 1.3344456408641356},
 {'Date': Timestamp('1997-09-27 00:00:00'),
  'Price': 2162,
  'Quantity': 12,
  'Width': 2.7993389694594284,
  'Height': 9.54865280663194,
  'Quality': 41.626975612837995,
  'Difference': 0.9815473767300812},
 {'Date': Timestamp('1997-09-28 00:00:00'),
  'Price': 164,
  'Quantity': 65,
  'Width': 7.378969166957685,
  'Height': 5.543540525114007,
  'Quality': 41.69675428170384,
  'Difference': 0.330700557063932},
 {'Date': Timestamp('1997-09-29 00:00:00'),
  'Price': 8106,
  'Quantity': 90,
  'Width': 6.117207462343522,
  'Height': 4.196000624277899,
  'Quality': 59.73279157002351,
  'Difference': -0.014718258634936664},
 {'Date': Timestamp('1997-09-30 00:00:00'),
  'Price': 2668,
  'Quantity': 68,
  'Width': 2.4773098950115746,
  'Height': 3.559726786512616,
  'Quality': 47.4854159151224,
  'Difference': 0.7964054296963266},
 {'Date': Timestamp('1997-10-01 00:00:00'),
  'Price': 5563,
  'Quantity': 11,
  'Width': 7.578461104643691,
  'Height': 0.14393488629755868,
  'Quality': 47.412842941337814,
  'Difference': -0.28138510655108645},
 {'Date': Timestamp('1997-10-02 00:00:00'),
  'Price': 2127,
  'Quantity': 11,
  'Width': 1.1607264050691624,
  'Height': 0.4600264202175275,
  'Quality': 56.25599134515005,
  'Difference': -1.6646931961950078},
 {'Date': Timestamp('1997-10-03 00:00:00'),
  'Price': 2795,
  'Quantity': 63,
  'Width': 0.40728802318970136,
  'Height': 8.554605840110073,
  'Quality': 58.94497154767717,
  'Difference': -0.006199139673872496},
 {'Date': Timestamp('1997-10-04 00:00:00'),
  'Price': 9787,
  'Quantity': 96,
  'Width': 7.036578593800237,
  'Height': 4.741738290873252,
  'Quality': 59.720021276457416,
  'Difference': 0.40311932708557713},
 {'Date': Timestamp('1997-10-05 00:00:00'),
  'Price': 5358,
  'Quantity': 10,
  'Width': 0.9783416065100148,
  'Height': 4.916158751168323,
  'Quality': 55.067563705178834,
  'Difference': 1.122677684798021},
 {'Date': Timestamp('1997-10-06 00:00:00'),
  'Price': 5718,
  'Quantity': 28,
  'Width': 4.734717707805657,
  'Height': 1.7320186991001518,
  'Quality': 47.525191710618316,
  'Difference': -1.4411957604959986},
 {'Date': Timestamp('1997-10-07 00:00:00'),
  'Price': 6836,
  'Quantity': 11,
  'Width': 4.33851649237973,
  'Height': 3.9850473439737346,
  'Quality': 41.67001433397338,
  'Difference': -0.12291130655145516},

Seriesの作成

In [162]:
arr = np.random.randint(0, 100, 8)
sr = pd.Series(arr, name="sample", index=list("ABCDEFGH"))

In [163]:
dict_from_sr = sr.to_dict()
pd.Series(dict_from_sr, name="sample")

A    10
B    73
C    37
D     5
E    71
F    22
G    46
H    89
Name: sample, dtype: int64

DataFrameの作成

In [164]:
pd.DataFrame([{"A": 1, "B": 2, "C": 3}, {"A": 10, "B": 20, "C": 30}], index=["math", "english"])

          A   B   C
math      1   2   3
english  10  20  30

In [165]:
arr1 = np.random.rand(10)
arr2 = np.random.rand(10)
pd.DataFrame([arr1, arr2])

,0,1,2,3,4,5,6,7,8,9
0,0.947283,0.153351,0.586230,0.505889,0.611454,0.018110,0.872124,0.932118,0.565133,0.696651
1,0.922499,0.707239,0.152539,0.576288,0.606715,0.424131,0.736444,0.934367,0.925569,0.450839

# DataFrameの情報取得

df.info(): null, dtypeなど

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        100 non-null    datetime64[ns]
 1   Price       100 non-null    int32
 2   Quantity    100 non-null    int32
 3   Width       100 non-null    float64
 4   Height      100 non-null    float64
 5   Quality     100 non-null    float64
 6   Difference  100 non-null    float64
dtypes: datetime64[ns](1), float64(4), int32(2)
memory usage: 4.8 KB

df.sum(): 要素の合計

In [167]:
df.sum(axis=0)

C:\Users\kirit\AppData\Local\Temp\ipykernel_15872\3976943683.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=0)

Price         520823.000000
Quantity        5337.000000
Width            484.304895
Height           515.360765
Quality         5041.882296
Difference        12.035446
dtype: float64

In [168]:
df.sum(numeric_only=True)

Price         520823.000000
Quantity        5337.000000
Width            484.304895
Height           515.360765
Quality         5041.882296
Difference        12.035446
dtype: float64

In [169]:
df.select_dtypes(include=["int", "float"]).sum()

Price         520823.000000
Quantity        5337.000000
Width            484.304895
Height           515.360765
Quality         5041.882296
Difference        12.035446
dtype: float64

# IndexとColumnについて

indexとcolumnsの取得

In [170]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [171]:
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype=int64)

In [172]:
pd.RangeIndex(start=1, stop=20, step=4).values

array([ 1,  5,  9, 13, 17], dtype=int64)

In [173]:
df.columns

Index(['Date', 'Price', 'Quantity', 'Width', 'Height', 'Quality',
       'Difference'],
      dtype='object')

indexの設定とリセット

In [174]:
df.head(3)

        Date  Price  Quantity     Width    Height    Quality  Difference
0 1997-07-05   7370        16  2.420553  6.721355  52.848386   -0.302324
1 1997-07-06    960        82  7.616196  2.376375  40.530226   -0.004563
2 1997-07-07   5490        81  7.282163  3.677831  51.715512   -0.682343

In [175]:
# カラムの一つをindexに設定する
df.set_index("Date", inplace=True)

In [176]:
df.head(3)

            Price  Quantity     Width    Height    Quality  Difference
Date
1997-07-05   7370        16  2.420553  6.721355  52.848386   -0.302324
1997-07-06    960        82  7.616196  2.376375  40.530226   -0.004563
1997-07-07   5490        81  7.282163  3.677831  51.715512   -0.682343

In [177]:
df.reset_index(inplace=True)
df.head(3)

        Date  Price  Quantity     Width    Height    Quality  Difference
0 1997-07-05   7370        16  2.420553  6.721355  52.848386   -0.302324
1 1997-07-06    960        82  7.616196  2.376375  40.530226   -0.004563
2 1997-07-07   5490        81  7.282163  3.677831  51.715512   -0.682343

index label, column labelの変更

In [178]:
cols = df.columns
cols

Index(['Date', 'Price', 'Quantity', 'Width', 'Height', 'Quality',
       'Difference'],
      dtype='object')

In [179]:
df.rename(index={0: "ZERO"}, columns={"Date": "Time"}).head(3)

           Time  Price  Quantity     Width    Height    Quality  Difference
ZERO 1997-07-05   7370        16  2.420553  6.721355  52.848386   -0.302324
1    1997-07-06    960        82  7.616196  2.376375  40.530226   -0.004563
2    1997-07-07   5490        81  7.282163  3.677831  51.715512   -0.682343

In [180]:
df.index = np.arange(100, 200)
df.columns = list("ABCDEFG")
df.head(3)

             A     B   C         D         E          F         G
100 1997-07-05  7370  16  2.420553  6.721355  52.848386 -0.302324
101 1997-07-06   960  82  7.616196  2.376375  40.530226 -0.004563
102 1997-07-07  5490  81  7.282163  3.677831  51.715512 -0.682343

In [181]:
df = df.add_prefix("#")
df.head(3)

            #A    #B  #C        #D        #E         #F        #G
100 1997-07-05  7370  16  2.420553  6.721355  52.848386 -0.302324
101 1997-07-06   960  82  7.616196  2.376375  40.530226 -0.004563
102 1997-07-07  5490  81  7.282163  3.677831  51.715512 -0.682343

In [182]:
df.reset_index(inplace=True, drop=True)
df.head(3)

          #A    #B  #C        #D        #E         #F        #G
0 1997-07-05  7370  16  2.420553  6.721355  52.848386 -0.302324
1 1997-07-06   960  82  7.616196  2.376375  40.530226 -0.004563
2 1997-07-07  5490  81  7.282163  3.677831  51.715512 -0.682343

In [183]:
df.columns = cols
df.head(3)

        Date  Price  Quantity     Width    Height    Quality  Difference
0 1997-07-05   7370        16  2.420553  6.721355  52.848386   -0.302324
1 1997-07-06    960        82  7.616196  2.376375  40.530226   -0.004563
2 1997-07-07   5490        81  7.282163  3.677831  51.715512   -0.682343

# 欠損値

None, null, npnanを確認

In [185]:
print(None)
print(np.nan)

None
nan

DataFrameの欠損値はNoneもしくはnp.nanで置き換える

In [190]:
null_value = [None, np.nan]

In [ ]:
for i in range(30):
    np.random.seed(i)
    s = np.random.randint(100)
    t = np.random.randint(0, 7)
    df.iloc[s, t] = np.random.choice(null_value)